@{
    Layout = "_LandingPage";
    ViewData["Title"] = "LandingPage";
}

<main id="main-container">

    <!-- Page Content -->
    <div class="content">
        <div class="my-50 text-center">
            <h2 class="font-w700 text-black mb-10">
                <i class="fa fa-building text-muted mr-5"></i> Property Management
            </h2>
            <h3 class="h5 text-muted mb-0">
                You currently have 6 properties! <a href="be_pages_real_estate_listing_new.html">Add a new one</a>.
            </h3>
        </div>
        <div class="row"id="dataCard">
          
            <!-- Property -->
            <!-- END Property -->

        </div>
    </div>
    <!-- END Page Content -->

</main>